<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de conteudo</title>
    <link rel="stylesheet" href="../css/acess.css">
</head>
<body>
    <header>
      <h1>Acessar conteudos</h1>
    </header>
    <main>
      <h2>Conteudos disponiveis:</h2>
      <div id="listaPostagens"></div>
    </main>
    <footer>
     <p>&copy; 2025 Regimath. Todos os direitos reservados.</p>
    </footer>
    <script src="../js/acess.js"></script>
</body>
</html>