<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de conteudo</title>
    <link rel="stylesheet" href="../css/acess.css">
</head>
<body>
    <header>
      <h1>Acessar conteudos</h1>
    </header>
    <main>
      <div class="container">
    <div class="top-bar">
      <h1>Conteúdos Publicados</h1>
    </div>
    <div id="lista-cards"></div>
  </div>
    </main>
    <footer>
     <p>&copy; 2025 Regimath. Todos os direitos reservados.</p>
    </footer>
    <script src="../js/acess.js"></script>
</body>
</html>