<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regimath</title>
    <link rel="stylesheet" href="../css/pag_inicial.css">
    <script src="../js/pag_inicial.js"></script>
</head>
<body>
    <header>
        <img src="../imagens/Regimath_branco2.png" alt="Logo do Regimath">
        <nav class="menu">
            <ul>
                <li><a href="/perfil">Perfil</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Bem-vindo, Colaborador!</h1>
        <p class="descrição">Você está acessando o RegiMath, um site focado em assuntos de matemática que são ensinados no ensino médio.</p>
        <p class="descrição">Você pode criar e compartilhar seus próprios conteúdos educativos.</p>
        <h2>Conteúdos</h2>
        <p id="conteudos"><a href="/acess"> Conteúdos</a></p>
        <p id="conteudos"><a href="/conteudo"> Criar conteúdos</a></p>
    </main>
    <footer>
       <p>&copy; 2025 Regimath. Todos os direitos reservados.</p>
    </footer>
</body>
</html>