<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <script src="../js/login.js"></script>
    <form action="/login" method="post">
        <p>Entrar na sua conta</p>
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email">
        <br />
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" pattern=".{5,}" title="A senha deve ter pelo menos 5 caracteres"/>
        <br />
        <input class="login" type="submit" value="Login" onclick="return register()" />
        <p><a href="/register">Ainda não tem uma conta? Registre-se</a></p>
        <p><a href="/forgot">Esqueci minha senha</a></p>
        <p><a href="/">Voltar para a página inicial</a></p>
        <p><a href="/colab_login">Sou colaborador</a></p>
    </form>
</body>
</html>