<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regimath</title>
    <link rel="stylesheet" href="../css/pag_inicial.css">
    <script src="../js/pag_inicial.js"></script>
</head>
<body>
    <header>
        <img src="../imagens/Regimath_branco2.png" alt="Logo do Regimath">
        <nav class="menu">
            <ul>
                <li><a href="/register">Registrar-se</a></li>
            </ul>
            <button class="open-button" onclick="openForm()">Fazer login</button>
        </nav>
    </header>
    <main>
        <h1>Aumente sua nota conosco!</h1>
        <p>Você está acessando o RegiMath, um site focado assuntos de matemática que são ensinados no ensino médio.</p>
        <p>Aqui você encontrará um explicação sobre o assunto desejado, e até poderá fazer simulados que usam questões das suas provas!</p>
        <h2>Conteúdos</h2>
            <p id="conteudos"><a href="/acess"> Conteúdos</a></p>
        <div class="form-popup" id="myForm">
          <form action="/login" class="form-container" onsubmit="return register()">
           <h1>Login</h1>


           <label for="email"><b>Email</b></label>
           <input type="text" placeholder="Enter Email" name="email" id="email">
           <div class="erro-area" id="erro-email"></div>


           <label for="psw"><b>Password</b></label>
           <input type="password" placeholder="Enter Password" name="psw" id="psw">
           <div class="erro-area" id="erro-psw"></div>

           <label for="tipo">Você é:</label>
           <select id="tipo" name="tipo">
           <option value="">Selecione</option>
           <option value="aluno">Aluno</option>
           <option value="professor">Professor</option>
           </select>
           <div class="erro-area" id="erro-tipo"></div>
           <br>
           <br> 
           <button type="submit" class="btn">Login</button>
           <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
           <p><a href="/register">Ainda não tem uma conta? Registre-se</a></p>
           <p><a href="/forgot">Esqueci minha senha</a></p>
           <p><a href="/colab_login">Sou colaborador</a></p>
          </form>
        </div>
    </main>
    <footer>
      <p>&copy; 2025 Regimath. Todos os direitos reservados.</p>
    </footer>
</body>
</html>