<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conteúdo</title>
    <link rel="stylesheet" href="../css/pag_conteudo.css">
</head>
<body>
    <header>
        <h1>Postagem de Conteúdos</h1>
        <br>
        <h2>Últimos conteúdos liberados:</h2>
        <ul>
            <li>Potenciação</li>
            <li>Função</li>
            <li>Geometria</li>
        </ul>
    </header>
    <br>
    <br>
    <br>
    <main>
        <div class="container">
          <form method="post" action="/conteudo" id="form-conteudo">
          <input type="text" id="Titulo" placeholder="  Título">
          <input type="text" id="Assunto" placeholder="  Assunto">
          <input type="text" id="Explicacao" placeholder="  Explicação">
          <h3>Exercícios</h3>
          <div id="Exercicios"></div>
           <button type="button" onclick="adicionarExercicio()">+ Adicionar Exercício</button>
           <br>
           <br>
            <button class="login" type="submit">Postar</button>
            <br>
            <br>
            <% if (typeof session !== 'undefined' && session.logado) { %>
                <p><a href="/logado">Voltar para a página inicial</a></p>
            <% } else { %>
                <p><a href="/colab_pag">Voltar para a página inicial</a></p>
            <% } %>
            <br>
            <br>
            <p><a href="/acess">Ver publicações</a></p>
           </form>
        </div>
    </main>
    <script src="../js/pag_conteudo.js"></script>
</body>
</html>