<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="../css/perfil.css">
    <script src="../js/perfil.js"></script>
</head>
<body>
    <header>
        <h1>Perfil do Usuário</h1>
    </header>
    <main>
        <h2>Bem-vindo, <%= session.username || 'Usuário' %>!</h2>
        <p>Email: <%= session.email %></p>
        <p>Status: <%= session.premium ? 'Membro Premium' : 'Membro Gratuito' %></p>

        <% if (session.premium) { %>
            <p>Acesso a conteúdos exclusivos.</p>
        <% } else { %>
            <p>Para acessar conteúdos premium, torne-se um membro premium.</p>
            <a href="#">Tornar-se Premium</a>
        <% } %>
        <br>
        <br>
        <br>
        <a href="">Voltar</a>
        <br>
        <br>
        <br>
        <a href="/logout">Sair da conta</a>
    </main>
    <footer>
        <p>&copy; 2025 Regimath. Todos os direitos reservados.</p>
    </footer>
</body>
</html>